.nav-link {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
  }
  
  .nav-link:hover {
    color: #ff9800; /* Change the hover color if needed */
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #DAA520; /* Example active color */
  }